* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  font-family: metropolis;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 0px 20px;
}

.container-fluid {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
}

[class|=col] {
  padding: 0px 16px;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

/* mobile responsive */
@media only screen and (max-width: 768px) {
  .col-sm-1 {
    width: 8.3333333333%;
  }
  .col-sm-2 {
    width: 16.6666666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.3333333333%;
  }
  .col-sm-5 {
    width: 41.6666666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.3333333333%;
  }
  .col-sm-8 {
    width: 66.6666666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.3333333333%;
  }
  .col-sm-11 {
    width: 91.6666666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
/* tablet responsive */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .col-md-1 {
    width: 8.3333333333%;
  }
  .col-md-2 {
    width: 16.6666666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3333333333%;
  }
  .col-md-5 {
    width: 41.6666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333333333%;
  }
  .col-md-8 {
    width: 66.6666666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.3333333333%;
  }
  .col-md-11 {
    width: 91.6666666667%;
  }
  .col-md-12 {
    width: 100%;
  }
}
/* desktop responsive */
@media only screen and (min-width: 992px) and (max-width: 1440px) {
  .col-lg-1 {
    width: 8.3333333333%;
  }
  .col-lg-2 {
    width: 16.6666666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.3333333333%;
  }
  .col-lg-5 {
    width: 41.6666666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.3333333333%;
  }
  .col-lg-8 {
    width: 66.6666666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.3333333333%;
  }
  .col-lg-11 {
    width: 91.6666666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
#hero {
  background-color: #212529;
  height: 500px;
}
#hero .hero-center-items {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 100%;
  gap: 40px;
}
#hero .hero-center-items h1 {
  color: white;
  width: -moz-fit-content;
  width: fit-content;
}
#hero .hero-center-items p {
  color: gray;
}
#hero .hero-center-items .section__btns {
  display: flex;
  align-items: center;
  justify-content: center;
}
#hero .hero-center-items .section__btns div:nth-of-type(1) {
  width: 150px;
  height: 40px;
  background-color: #0d6efd;
  border-radius: 10px;
  margin: 0 20px;
  transition: 0.3s;
}
#hero .hero-center-items .section__btns div:nth-of-type(1) a {
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  padding-top: 12px;
}
#hero .hero-center-items .section__btns div:nth-of-type(1):hover {
  background-color: #023581;
}
#hero .hero-center-items .section__btns div:nth-of-type(2) {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background-color: none;
  border: 1px solid white;
  margin: 0 20px;
  transition: 0.3s;
}
#hero .hero-center-items .section__btns div:nth-of-type(2) a {
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  padding-top: 12px;
}
#hero .hero-center-items .section__btns div:nth-of-type(2):hover {
  background-color: white;
}
#hero .hero-center-items .section__btns div:nth-of-type(2):hover a {
  color: black;
}/*# sourceMappingURL=style.css.map */