.nav{
    @extend %centerElemets;
    height: 50px;
    justify-content: space-between;
    padding: 50px;
    background-color: $nav-color;
    color: $text-color;
    

    &__logo{
        font-size: $nav-font-size;
    }

    &__links{

        ul{
            @extend %centerElemets;
            gap: 20px;
            font-size: $nav-font-size;
            color: $icons-color;
        }
    }

    &__menu{
        display: none !important;
        
        
        button{
            border: 1px solid white;
            width: 60px;
            height: 40px;
            border-radius: 5px;
            background: none;
            i{
                color: $icons-color;
            }
        }
    }
   
}
@media only screen and (max-width:992px) {
    
    .nav{

        &__links{
            display: none;
            visibility: hidden;
             opacity: 0;
        }

        &__menu{
            display: block !important;
        }
    }

}
@media only screen and (max-width:576px) { 
    .nav{
        &__links{
            display: none;
            visibility: hidden;
            opacity: 0;
        }
        &__menu{
            display: block !important;
        }
    }

}